<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knight.blog.mapper.CategoryMapper">
    <resultMap id="categoryMap" type="com.knight.blog.entity.Category">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="categoryname" jdbcType="VARCHAR" property="categoryName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="getAllCategorys" resultMap="categoryMap" resultType="com.knight.blog.entity.Category">
        select * from me_category
    </select>
</mapper>